* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  color: #f42;
  font-size: 1.6rem;
}

.utility-section {
  display: grid;
  margin-right: 10vw;
  margin-left: 15vw;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas:
    "utility1 utility2 utility3"
    "utility4 utility5 utility6"
    "utility7 utility8 utility9";
  column-gap: 20px;
  row-gap: 100px;
}

.utility1 {
  grid-area: utility1;
}
.utility2 {
  grid-area: utility2;
}
.utility3 {
  grid-area: utility3;
}
.utility4 {
  grid-area: utility4;
}
.utility5 {
  grid-area: utility5;
}
.utility6 {
  grid-area: utility6;
}
.utility7 {
  grid-area: utility7;
}
.utility8 {
  grid-area: utility8;
}
.utility9 {
  grid-area: utility9;
}

.utility-images-container {
    text-align: left;
    position: relative;
}

.utility-images-text{
    position: absolute;
    left: 10px;
    z-index: 2;
    bottom: 10px;

}

.utility-MP{
    color: white;
}

.utility-title{
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
}

.utility-image {
    width: 100%;
    height: 200px;
}

.utility-image-link{
    text-decoration: none;
}

.timeline{
    color: #999;
    font-size: 0.9rem;
}

.utility-latest{
    background-color: rgba(251, 181, 116, 0.421);
    display: flex;
    flex: 4fr 1fr;
    color: #f42;

}

.utility-latest-text{

}

.utility-latest-container{
    display: flex;
    flex: 4fr 1fr;
    flex-direction: column;
    padding: 10px;
    color: #f42;
}

.utility-LT{
    color: #f42;


}

.utility-LT-link{
    text-decoration: none;
}

.utility-latest-image{
    float: right;
    width: 100px;
    object-fit: cover;    

}

.utility-ul{
    color: #f42;
    list-style-position: inside;
    margin-top: 10px;
}

.utility-ul-li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.utility-ul-links{
    text-decoration: none;
    color: #666;
}

.latest-deals-section {
  display: flex;
  flex-direction: column;
  flex: 1fr 5fr;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-bottom: 70px;
}

.latest-deals-aside {
  display: inline;
  float: right;
  color: #f42;
}

.latest-deals-header {
  margin-bottom: 15px;
}

.latest-deals-body {
  display: grid;
  grid-template-areas:
    "deal1 deal2 deal3 deal4"
    "deal5 deal6 deal7 deal8";
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
  row-gap: 20px;
}

.deal-price-discount {
  display: inline;
  margin-left: 5px;
  color: #bbb;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.deal-price {
  display: inline;
  color: #666;
  font-size: 1.1rem;
}

.latest-deals1 {
  grid-area: deal1;
}

.latest-deals2 {
  grid-area: deal2;
}

.latest-deals3 {
  grid-area: deal3;
}

.latest-deals4 {
  grid-area: deal4;
}

.latest-deals5 {
  grid-area: deal5;
}

.latest-deals6 {
  grid-area: deal6;
}

.latest-deals7 {
  grid-area: deal7;
}

.latest-deals8 {
  grid-area: deal8;
}

.latest-deals-image {
  width: 100%;
  height: 200px;
}

.footer1 {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 35px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons-buttons {
  background-color: #444;
  border-radius: 50%;
  padding: 10px;
  border: 0px solid black;
  margin-bottom: 20px;
  margin-right: 5px;
}

.footer-icons-images {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}

.footer-menus {
  color: #bbb;
  display: flex;
  justify-content: center;
  margin-right: 25vw;
  margin-left: 25vw;
  font-size: 1.1rem;
}

.footer-MTs {
  margin-right: 10px;
}

.footer2 {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer2-text {
  display: inline;
  color: #999;
  margin-right: 10px;
  margin-left: 10px;
}

.footer2-img-1 {
  height: 20px;
  width: 35px;
  vertical-align: -5px;
}

.footer2-img-2 {
  height: 30px;
  width: 60px;
  vertical-align: -10px;
}
.nav1 {
    overflow: hidden;
    background-color: #333;
  }
  
  .nav1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav1 a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }

  .nav1 .menu_right {
    position: absolute;
    right: 0px;
  }  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:  #333;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav2 {
      overflow: hidden;
      padding: 12px 11px;
      text-align: left;
      white-space: normal;
  }


  .utility-ul>hr{
      color: #ccc;
  border: 0.3px solid #ccc;
  border-radius: 5px;
  }
 .nav2 a {
     color: gray;
 }
.latest-news-section {
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 2cm;
    margin-left: 7cm;
    margin-right: 7cm;

}

.article-description {
    font-size: 16px;
    text-align: centre;
    font-weight: bold;
}

.timeline {
    font-size: 15px;
    text-align: left;
}
main .heading {
    align-content: center;
    margin-left: 7cm;
}

.latest-fund-pic {
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    column-gap: 0mm;
    margin-left: 7cm;
    margin-right: 7cm;
}

.lines{
    width: 80%;
    color: rgb(248, 109, 59);
}

.founding-round-description {
    margin-left: 2cm;
    font-size: 15px;
    color: slategray;
}

.latest-funding-section .latest-funding-aside {
    display: inline;
    float: right;
    margin-right: 17rem;
    font-weight: bold;
    color: orangered;
}
.founding-rounds-website {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    margin-right: 2cm;
}